### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
HeroesOfPymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
HoP_df = pd.read_csv(HeroesOfPymoli)
HoP_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Player_Count = HoP_df["SN"].nunique()
Player_Count

576

In [3]:
data = {'Total Players':[Player_Count]}
PC_df = pd.DataFrame(data)
PC_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Number of Unique Items
U_Items_Count = HoP_df["Item ID"].nunique()
U_Items_Count

183

In [5]:
#Average Price
Average_Price = HoP_df["Price"].mean()
Average_Price

3.050987179487176

In [6]:
#Total Number of Purchases
Number_P = HoP_df["Purchase ID"].count()
Number_P

780

In [7]:
#Total Revenue
T_Revenue= Number_P * Average_Price
T_Revenue

2379.7699999999973

In [8]:
PAdata = {'Number of Unique Items':[U_Items_Count], 'Average Price':[Average_Price], 'Number of Purchases' :[Number_P], 'Total Revenue' :[T_Revenue]}
PA_df = pd.DataFrame(PAdata)
PA_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Count of Players
G_Players_df = HoP_df.loc[1:, ["SN","Gender"]]
GP=G_Players_df.drop_duplicates()
GP

                SN  Gender
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
5          Yalae81    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [10]:
Gender_Count=GP['Gender'].value_counts()
Gender_Count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
Percent_of_Players= (Gender_Count / Player_Count)*100
Percent_of_Players

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [12]:
GAdata = {'Total Count':[Gender_Count], 'Percentage of Players':[Percent_of_Players]}
GA_df = pd.DataFrame(GAdata)
GA_df

,Total Count,Percentage of Players
0,Male 484 Female ...,Male 84.027778 Female ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
Age_df = HoP_df.loc[1:, ["SN","Age"]]
AG=Age_df.drop_duplicates()
AgeD=pd.DataFrame(AG)
AgeD

                SN  Age
1      Lisovynya38   40
2       Ithergue48   24
3    Chamassasya86   24
4        Iskosia90   23
5          Yalae81   22
..             ...  ...
773         Hala31   21
774     Jiskjask80   11
775     Aethedru70   21
777     Yathecal72   20
778        Sisur91    7

[576 rows x 2 columns]

In [14]:
bins= [0,10,15,20,25,30,35,40]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [15]:
AgeD.cut(AgeD["Age"]), bins, labels=group_names

SyntaxError: can't assign to function call (<ipython-input-15-9e27aa554743>, line 1)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame